process {
    withName:AlignReads {
        conda = '/scratch/sae001/ahockey/all_ce_align/environment.yml'
    }
    withName:MarkDuplicates {
        conda = 'bioconda::picard=3.1.1'
    }
    withName:Indexation {
        conda = '/scratch/sae001/ahockey/all_ce_align/environment.yml'
    }
    withName:MergeBAMs {
        conda = '/scratch/sae001/ahockey/all_ce_align/environment.yml'
    }
    withName:IdxMerge {
        conda = '/scratch/sae001/ahockey/all_ce_align/environment.yml'
    }
    withName:HaplotypeCaller {
        container = 'broadinstitute/gatk'
        conda = 'bioconda::gatk4=4.4.0.0'
    }
    withName:IndexIntGVCFs {
        container = 'broadinstitute/gatk'
        conda = 'bioconda::gatk4=4.4.0.0'
    }
    withName:CombineGVCFs {
        container = 'broadinstitute/gatk'
        conda = 'bioconda::gatk4=4.4.0.0'
    }
    withName:PullSampleName {
        container = 'staphb/bcftools'
        conda = 'bioconda::bcftools=1.18'
    }
    withName:RenameVCFs  {
        container = 'broadinstitute/gatk'
        conda = 'bioconda::picard=3.1.1'
    }
    withName:IndexGVCFs  {
        container = 'broadinstitute/gatk'
        conda = 'bioconda::gatk4=4.4.0.0'
    }
    withName:ConsolidateGVCFs  {
        container = 'broadinstitute/gatk'
        conda = 'bioconda::gatk4=4.4.0.0'
    }
    withName:JointCallCohort  {
        container = 'broadinstitute/gatk'
        conda = 'bioconda::gatk4=4.4.0.0'
    }
}


params {
    genome = '/scratch/sae001/cicer-data/cechi/genome/cicec.S2Drd065.gnm1.R888.genome_main'
    pe_reads = '/scratch/sae001/ahockey/all_ce_align/reads/*{1,2}.fastq.gz'
    all_reads = '/scratch/sae001/ahockey/all_ce_align/reads/*.fastq.gz'
    modules_path = '/scratch/sae001/ahockey/all_ce_align/modules.nf'
    singleEnd = false
    intervals = '/scratch/sae001/cicer-data/cechi/genome/cicec.S2Drd065.gnm1.R888.genome_intervals_chr.txt' 
}


